.hexagon-wrapper {
  position: relative;
  display: inline-block;
}
.hexagon-wrapper .hexagon {
  stroke-width: 4.00px;
}
.hexagon-wrapper a:hover .hexagon {
  stroke: #9f449b;
}
.header .header-hexagon {
  fill: #ffffff;
  fill-opacity: 0.10;
  stroke: #ffffff;
}
.header a:hover .header-hexagon {
  fill: #9f449b;
  fill-opacity: 1;
}
.header a:hover .hexagon-caption {
  fill: white;
}
.header .header-nav-block .hexagon-wrapper .hexagon-caption {
  fill: white;
  font-family: Lato-Regular;
  font-size: 20px;
}
.header .header-nav-block .hexagon-wrapper:first-child {
  margin-right: 25px;
}
.benefits .benefit-hexagon {
  fill-opacity: 0;
  stroke: #ccd0d2;
}
.scroller {
  display: block;
  width: 85px;
  margin: auto;
}
.bubble {
  background: url("../resources/Icons/bubble.png");
  width: 60px;
  height: 53px;
  position: absolute;
  left: 55px;
  top: 45px;
}
