.hexagon-wrapper {
  position: relative;
  display: inline-block;
}
.hexagon-wrapper .hexagon {
  stroke-width: 4.00px;
}
.header-hexagon {
  fill: #ffffff;
  fill-opacity: 0.1;
  stroke: #ffffff;
}
a:hover .header-hexagon {
  fill: #9f449b;
  fill-opacity: 1;
  stroke: #9f449b;
}
a:hover .hexagon-caption {
  fill: white;
}
.header-nav-block .hexagon-wrapper .hexagon-caption {
  fill: white;
  font-family: Lato-Regular;
  font-size: 20px;
}
.header-nav-block .hexagon-wrapper:first-child {
  margin-right: 25px;
}
.benefits .benefit-hexagon {
  fill: #ffffff;
  fill-opacity: 0;
  stroke: #ccd0d2;
}
.benefits a:hover .benefit-hexagon {
  fill: #ffffff;
  fill-opacity: 0;
  stroke: #9f449b;
}
.section-hexagon {
  fill: #ffffff;
  fill-opacity: 0.1;
  stroke: #ffffff;
}
.scroller {
  display: block;
  width: 85px;
  margin: auto;
}
.slider-controllers .slider-controller-hexagon {
  fill: #ffffff;
  fill-opacity: 0;
  stroke: #9f449b;
}
.slider-controllers a:hover .slider-controller-hexagon {
  fill: #9f449b;
  fill-opacity: 1;
  stroke: #9f449b;
}
