@main-color: #9f449b;
@text-color: #676767;
@background-color: #eeeeee;

.hexagon-style(@_fill, @_fill-opacity, @_stroke) {
  fill: @_fill;
  fill-opacity: @_fill-opacity;
  stroke: @_stroke;
}

.hexagon-wrapper {
  position: relative;
  display: inline-block;
  .hexagon {
    stroke-width: 4.00px;
  }
}
.header {
  .header-hexagon {
    .hexagon-style(#ffffff, 0.10, #ffffff);
  }
  a:hover .header-hexagon {
    .hexagon-style(@main-color, 1, @main-color);
  }

  a:hover .hexagon-caption {
    fill: white;
  }
  .header-nav-block {
    .hexagon-wrapper {
      .hexagon-caption {
        fill: white;
        font-family: Lato-Regular;
        font-size: 20px;
      }
      &:first-child {
        margin-right: 25px;
      }
    }
  }
}

.benefits {
  .benefit-hexagon {
    .hexagon-style(#ffffff, 0, #ccd0d2);
  }
  a:hover .benefit-hexagon {
    .hexagon-style(#ffffff, 0, @main-color);
  }
}
.section-hexagon {
  .hexagon-style(#ffffff, 0.10, #ffffff);
}
.scroller {
  display: block;
  width: 85px;
  margin: auto;
}
