@media (max-width: 1360px) {
  .header .header-nav {
    width: 100%;
  }
  .header .header-nav .header-nav-block {
    display: inline-block;
    margin-right: 25px;
  }
  .header .header-nav .header-nav-block:last-child {
    margin-right: 0;
  }
  .header .header-nav .header-nav-left {
    float: none;
  }
  .header .header-nav .header-nav-right {
    float: none;
  }
  .skills .charts-wrapper {
    width: 100%;
  }
}
@media (max-width: 1250px) {
  .header .header-nav .header-nav-block {
    margin-right: 0;
  }
  .header .header-nav .header-nav-block:last-child {
    margin-right: 0;
  }
  .header .header-nav-block .hexagon-wrapper:first-child {
    margin-right: 0;
  }
  .nav {
    width: 80%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media (max-width: 1224px) {
  .header {
    position: relative;
  }
  .header .header-nav .header-nav-block {
    display: none;
  }
  .about .about-content .devices-img {
    width: 213px;
    height: 138px;
  }
  .about .about-content .about-text {
    min-height: inherit;
    padding-bottom: 0;
  }
  .about .about-content .about-text .learn-more-link {
    position: relative;
  }
  .about .about-content .about-text p {
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  .skills .charts-wrapper {
    margin: 0;
  }
  .skills .charts-wrapper .chart {
    float: none;
    width: 500px;
  }
  .skills .charts-wrapper .chart:nth-child(3) {
    margin-bottom: 40px;
  }
  .nav {
    display: none;
  }
  body .menu-button {
    display: inline;
  }
  body .hidden-menu {
    display: block;
  }
  .main .benefits {
    height: auto;
  }
  .main .benefits .benefits-wrapper {
    position: static;
    transform: none;
  }
  .main .benefits .benefits-wrapper .benefit:nth-child(2) {
    margin-right: 0;
  }
}
@media (max-width: 983px) {
  .contact .submit-button {
    margin-bottom: 15px;
  }
}
@media (max-width: 923px) {
  .thumbnails .thumbnail .thumbnail-background {
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 920px) {
  .header .main-logo {
    font-family: Existence, "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 7rem;
  }
  .header h2 {
    font-family: Lato-Thin, "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3.5rem;
  }
  .header p {
    font-family: Lato-Thin, "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2.4rem;
  }
}
@media (max-width: 907px) {
  .team .team-member {
    margin-right: 10px;
  }
  .team .team-member:last-child {
    margin-right: 0;
  }
}
@media (max-width: 826px) {
  .services .services-values .service-value {
    margin-right: 0;
  }
}
@media (max-width: 782px) {
  .main .about .about-content .devices-img {
    float: none;
    margin-right: 0;
    width: 263px;
    height: 168px;
    margin-bottom: 15px;
  }
  .header-title-link .header-title {
    margin-bottom: 20px;
  }
}
@media (max-width: 770px) {
  .team .team-member {
    margin-right: 0;
  }
}
@media (max-width: 683px) {
  .skills .charts-wrapper .chart {
    width: 100%;
  }
  .main .benefits .benefits-wrapper .benefit {
    margin-right: 0;
  }
}
@media (max-width: 540px) {
  .main section {
    padding: 15px;
  }
  .main .quote {
    font-size: 1.5rem;
    height: 340px;
  }
  .main .services .services-values {
    margin-bottom: 18px;
  }
  .main .team .team-member {
    margin-right: 10px;
  }
  .main .team .team-member:last-child {
    margin-right: 0;
  }
  .main .team .team-member .team-member-img {
    width: 100px;
    height: 100px;
    margin-bottom: 0;
  }
  .main .team .team-member .team-member-name {
    font-size: 1.1rem;
  }
  .main .team .team-member .team-member-position {
    font-size: 0.9rem;
  }
}
@media (max-width: 460px) {
  .header {
    padding: 20px;
  }
  .header .main-logo {
    font-size: 4.8rem;
  }
  .main .header-title {
    font-size: 4.0rem;
  }
  .main .section-title {
    padding: 10px;
  }
  .main .about .about-content {
    width: 100%;
  }
  .main .about .about-content .about-text {
    font-size: 1.7rem;
    width: 100%;
  }
  .main .about .about-content .main-button {
    width: 185px;
    height: 50px;
  }
  .main .services .services-values .service-value .value {
    font-size: 4.0rem;
  }
  .main .services .service-img {
    width: 100px;
    height: 100px;
  }
  .main .services q {
    font-size: 1.7rem;
  }
  .main .services p {
    font-size: 1.3rem;
  }
}
@media (max-width: 350px) {
  .portfolio .sort-link-buttons li {
    margin-right: 0;
  }
}
