@main-color: #9f449b;
@header-color: #666666;
@background-color: #eeeeee;

html,body,h1, ul, li { //reset css
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Lato-Thin;
  src: local("Lato-Thin"),
  url("../resources/Fonts/Lato2OFL/Lato-Thin.ttf");
}
@font-face {
  font-family: Lato-Regular;
  src: local("Lato-Regular"),
  url("../resources/Fonts/Lato2OFL/Lato-Regular.ttf");
}

html, body {
  height: 100%;
}
.bubble {
  background: url("../resources/Icons/bubble.png");
  width: 50px;
  height: 50px;
}
  .main-header-link {
    &:link {
      text-decoration:none;
      color: white;
      } /* непосещенная ссылка */
    &:visited {
      text-decoration:none;
      color: white;
      } /* посещенная ссылка */
    &:hover {
      text-decoration:none;
      color: white;
      } /* ссылка, над которой находится курсор мыши */
  }
  .header-link {
    &:link {
      text-decoration:none;
      color: @header-color;
      } /* непосещенная ссылка */
    &:visited {
      text-decoration:none;
      color: @header-color;
      } /* посещенная ссылка */
    &:hover {
      text-decoration:none;
      color: @header-color;
      } /* ссылка, над которой находится курсор мыши */
  }
  .logo {
    font-family: Lato-Thin;
      strong {
        color: @main-color;
      }
  }

  .hexagon {
    fill: rgb(255,255,255);
    fill-opacity: 0.10;
    stroke: rgb(255,255,255);
    stroke-width: 4.00px;
  }
  .header {
  text-align: center;
  height: 100%;
  background-image: url("../resources/Images/main.png");
  background-position: center;
  color: white;
  padding: 50px;
  box-sizing: border-box;
    .main-logo {
      font-size: 90px;
    }
    h2,p {
      font-family: Lato-Thin;
    }
    h2 {
      font-size: 48px;
    }
    p {
      font-size: 34px;
    }
    .header-nav {
      width: 60%;
      display: inline-block;
      .header-nav-left {
        float: left;
      }
      .header-nav-right {
        float: right;
      }
      .header-nav-block {
        .bubble {
          fill: url("../resources/Icons/bubble.png");
        }
        .hexagon-caption {
          fill: white;
          font-family: Lato-Regular;
          font-size: 20px;
        }
        a:hover .hexagon {
          fill: @main-color;
          fill-opacity: 1;
          stroke: @main-color;
          stroke-width: 4.00px;
        }
        a:hover .hexagon-caption {
          fill: white;
        }

      }
    }
}
.nav {
  font-family: Lato-Regular;
  font-size: 20px;
  width: 60%;
  line-height: 143px;
  margin: auto;
  .nav-logo {
    display: inline-block;
    float: left;
    vertical-align: middle;
  }
  .nav-list {
    display: inline-block;
    list-style-type: none;

    float: right;
    vertical-align: middle;

    li {
      font-size: 15px;
      display: inline-block;
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
      a {
        &:link {
          text-decoration:none;
          color: @header-color;
          } /* непосещенная ссылка */
        &:visited {
          text-decoration:none;
          color: @header-color;
          } /* посещенная ссылка */
        &:hover {
          text-decoration:none;
          color: @main-color;
          } /* ссылка, над которой находится курсор мыши */
      }
    }
  }
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
}
.main {
  .benefits {
    height: 795px;
    background-color: @background-color;
    a {
      .benefit-hexagon {
        // fill: rgb(255,255,255);
        fill-opacity: 0;
        stroke: #ccd0d2;;
        stroke-width: 4.00px;
      }
      &:hover .benefit-hexagon {
        // fill: @main-color;
        // fill-opacity: 1;
        stroke: @main-color;
        stroke-width: 4.00px;
      }
    }
  }
}
@media (min-width: 2000px) {
  .header {
    background-size: 100%;
  }
}
