@main-color: #9f449b;
@text-color: #676767;
@background-color: #eeeeee;

html,body,h1, ul, li { //reset css
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Lato-Thin;
  src: local("Lato-Thin"),
  url("../resources/Fonts/Lato2OFL/Lato-Thin.ttf");
}
@font-face {
  font-family: Lato-Regular;
  src: local("Lato-Regular"),
  url("../resources/Fonts/Lato2OFL/Lato-Regular.ttf");
}
html, body {
  height: 100%;
}
.link-decoration(@_link-color, @_visited-color) {
  &:link {
    text-decoration:none;
    color: @_link-color;
    }
  &:visited {
    text-decoration:none;
    color: @_link-color;
    }
  &:hover {
    text-decoration:none;
    color: @_visited-color;
    }
}
.main-logo-link {
  .link-decoration(white, white);
}
.nav-logo-link {
  .link-decoration(@text-color, @text-color);
}
.logo {
  font-family: Lato-Thin;
    strong {
      color: @main-color;
    }
}
.header {
  text-align: center;
  height: 100%;
  background-image: url("../resources/Images/main.png");
  background-position: center;
  font-family: Lato-Thin;
  color: white;
  padding: 50px;
  box-sizing: border-box;
    .main-logo {
      font-size: 90px;
    }
    h2 {
      font-size: 48px;
    }
    p {
      font-size: 34px;
    }
    .header-nav {
      width: 60%;
      display: inline-block;
      .header-nav-left {
        float: left;
      }
      .header-nav-right {
        float: right;
      }
    }
}
.nav {
  font-family: Lato-Regular;
  font-size: 20px;
  width: 60%;
  line-height: 143px;
  margin: auto;
  .nav-logo {
    display: inline-block;
    float: left;
    vertical-align: middle;
  }
  .nav-list {
    display: inline-block;
    list-style-type: none;
    float: right;
    vertical-align: middle;
    li {
      font-size: 15px;
      display: inline-block;
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
      a {
        .link-decoration(@text-color, @main-color);
      }
    }
  }
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
.main {
  .benefits {
    height: 795px;
    background-color: @background-color;
    position: relative;
    .benefits-wrapper {
      display: inline-block;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .benefit {
        display: inline-block;
        width: 260px;
        margin-right: 20px;
        text-align: center;
        color: @text-color;
        font-family: Lato-Thin;
        &:last-child {
          margin-right: 0;
        }
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}
@media (min-width: 2000px) {
  .header {
    background-size: 100%;
  }
}
